/* GameBoard.css */
.game-board-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.game-title {
    text-align: center;
    margin-bottom: 20px;
}

.draw-card-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.restart-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #f6a834;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.card {
    margin: 5px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.icon{
    height: 60px;
    width: 60px;
}

.win-message {
    text-align: center;
    margin-top: 20px;
    color: green;
}

.lose-message {
    text-align: center;
    margin-top: 20px;
    color: red;
}

/* UsernameForm.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    width: 300px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-title {
    margin-bottom: 20px;
    text-align: center;
}

.form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    
}

.form-button:hover {
    background-color: #0056b3;
}

/* Leaderboard.css */
.leaderboard-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.leaderboard-title {
    text-align: center;
    margin-bottom: 20px;
}

.leaderboard-list {
    list-style-type: none;
    padding: 0;
}

.leaderboard-item {
    margin-bottom: 5px;
}